<div class="container mt-5 mb-5">
    <h1> Register </h1>
    <form asp-action="RegistrationForm" method="post">
        <div asp-validation-summary="All"></div>
        <p>
            <label>First name</label><br />
            <input />
        </p>
        <p>
            <label>Last name</label><br />
            <input />
        </p>
        <p>
            <label>Email</label><br />
            <input />
        </p>
        <p>
            <label>Password</label><br />
            <input />
        </p>
        <p>
            <label>Repeat Password</label><br />
            <input />
        </p>

        <br />
        <button type="submit">Register</button>
    </form>
</div>

